{% extends 'base.html.twig' %}

{% block body %}
	<main class="flex-fill">
		<section class="hero-others-pages">
			<div class="hero-inner container">
				<h3 class="display-6 fw-bold mb-2 hero-slogan">Voyagez Ecoresponsable</h3>
				<p class="mb-3 hero-slogan">Partagez vos trajets, Economisez et protégez la planète</p>
			</div>
		</section>

		<div class="search-bar-wrapper">
			{% include 'search_bar.html.twig' %}
		</div>

		<div class="container my-5">
			<div class="text-center my-4">
				<h2 class="titre-page">Espace personnel</h2>
				<p>
					Bienvenue sur votre espace personnel,
					<span class="eco fw-bold text-capitalize">{{ app.user.firstName }}</span>
					! Voici votre tableau de bord personnel sur
					<span class="eco fw-bold">Eco</span>
					<span class="ride">Ride</span>.
				</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-7">
					<div
						class="card shadow-lg p-3 border-0">
						<!-- photo + pseudo utilisateur -->
						<div class="py-2 px-3rounded border-bottom d-flex gap-3 align-items-center justify-content-between carte-utilisateur">
							<div class="d-flex  align-items-center gap-2">
								<div class=" photo">
									<img class="photo-utilisateur" src="{{ asset("uploads/photos/"~app.user.photo) }}" alt="photo profile utilisateur"></img>
							</div>
							<div class="pseudo utilisateur text-center">
								<h4>
									{{ app.user.pseudo}}
								</h4>
								<p>{{ app.user.credits }}
									crédits
								</p>
							</div>
						</div>
						<!-- lien modifier les informations -->
						<a class="btn btn-sm px-3 btn-ecoride" href="{{path('app_account_edit')}}">
							Modifier mes informations
						</a>
					</div>

					<div
						class="d-flex align-items-center gap-2 mt-3">

						<!-- Passager toujours actif -->
						<button type="button" class="btn btn-outline-success p-2 active" disabled>
							Passager
						</button>

						<!-- devenir Chauffeur -->
						{% if app.user.isDriver %}
							<button type="button" class="btn btn-success btn-ecoride ">
								Chauffeur activé
							</button>

							<!-- Nouveau bouton créer trajet -->
							<a href="{{ path('app_make_covoiturage') }}" class="btn btn-ecoride px-3">
								+ Créer un trajet
							</a>
						{% else %}
							<a class="btn btn-sm p-2 btn-ecoride" href="{{ path('app_driver') }}">
								Devenir chauffeur
							</a>
						{% endif %}

					</div>

					{% if app.user.isDriver and app.user.vehicules|length > 0 %}

						<div class="p-3 border-0 mt-4">
							<div class="d-flex justify-content-between align-items-center mb-3">
								<h6 class="mb-0">Mon véhicule</h6>
							</div>

							{% for vehicule in app.user.vehicules %}
								<div
									class="card shadow-sm border-0 mb-3 carte-vehicule">

									<!-- Header véhicule -->
									<div class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom">
										<div>
											<h6 class="mb-0 fw-bold">
												{{ vehicule.idBrand.libel }}
												{{ vehicule.model }}
											</h6>
											<small class="text-muted">
												{{ vehicule.color }}
												•
												{{ vehicule.energy }}
											</small>
										</div>

										<span class="badge bg-success px-3 py-2 btn-ecoride">
											{{ vehicule.placesNbr }}
											places
										</span>
									</div>

									<div class="row text-center py-3">

										<div class="col-4 border-end">
											<small class="text-muted d-block">Marque</small>
											<span class="fw-semibold">{{ vehicule.idBrand.libel }}</span>
										</div>

										<div class="col-4 border-end">
											<small class="text-muted d-block">Modèle</small>
											<span class="fw-semibold">{{ vehicule.model }}</span>
										</div>

										<div class="col-4">
											<small class="text-muted d-block">Énergie</small>
											<span class="fw-semibold">{{ vehicule.energy }}</span>
										</div>

									</div>

								</div>

							{% endfor %}
						</div>

					{% endif %}
				</div>

				<div class="col-md-12 col-lg-12 col-sm-12 mt-3 mx-auto">
					<div class="card shadow-lg p-4">
						<div class="d-flex justify-content-between">
							<h4 class="mb-4">Mes réservations</h4>
							<a href="{{ path('app_reservation') }}" class="lien px-2">
								Voir toutes mes reservations
							</a>
						</div>
						{% if reservations is empty %}
							<div class="text-center text-muted">
								Vous n'avez encore aucune réservation.
							</div>
						{% else %}

							{% for reservation in reservations %}
								{% set covoiturage = reservation.idCovoiturage %}

								<div class=" p-4 mb-3 carte-chauffeur">

									<div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

										<div>
											<strong>{{ covoiturage.placeDeparture }}</strong>
											→
											<strong>{{ covoiturage.placeArrival }}</strong>
											<br>
											<small class="text-muted">
												{{ covoiturage.dateDeparture|date('d/m/Y') }}
												à
												{{ covoiturage.departureTime|date('H:i') }}
											</small>
										</div>

										<div class="text-center">
											<span class="fw-bold">{{ covoiturage.price }}
												crédits</span>
										</div>


										<div>
											{% if reservation.status.value == 'EN_ATTENTE' %}

												{% if covoiturage.dateDeparture|date('Y-m-d') == "now"|date('Y-m-d') %}
													<span class="badge p-1 w-100 bg-success">Aujourdhui</span>

												{% elseif covoiturage.dateDeparture > "now" %}
													<span class="badge p-1 w-100 bg-success">À venir</span>

													<form method="post" action="{{ path('app_reservation_annuler', {id: reservation.id}) }}" class="mt-2 text-end">
														<input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
														<button class="btn-ecoride-reservation w-100">
															Annuler
														</button>
													</form>

												{% else %}
													<span class="badge bg-success">Terminé</span>
												{% endif %}

											{% elseif reservation.status.value == 'ANNULEE' %}
												<span class="badge bg-secondary">Annulée</span>

												<form method="post" action="{{ path('app_reservation_delete_history', {id: reservation.id}) }}" class="mt-2 text-end">
													<input type="hidden" name="_token" value="{{ csrf_token('delete_history' ~ reservation.id) }}">
													<button class="btn-ecoride-reservation w-100">
														Supprimer
													</button>
												</form>

											{% elseif reservation.status.value == 'TERMINEE' %}
												<span class="badge bg-success">Terminée</span>

											{% else %}
												<span class="badge bg-light text-dark">{{ reservation.status.value }}</span>

												<form method="post" action="{{ path('app_reservation_delete_history', {id: reservation.id}) }}" class="mt-2 text-end">
													<input type="hidden" name="_token" value="{{ csrf_token('delete_history' ~ reservation.id) }}">
													<button class="btn-ecoride-reservation w-100">
														Supprimer
													</button>
												</form>
											{% endif %}
										</div>


									</div>

								</div>

							{% endfor %}

						{% endif %}

					</div>

				</div>
			</div>

			<div class="col-md-12 col-lg-7 col-sm-12 mx-auto mt-3">
				<div class="card shadow-lg p-4">
					<div class="d-flex justify-content-between">
						<h4 class="mb-4">Mes covoiturages (chauffeur)</h4>
						<a href="{{ path('app_covoiturage') }}" class="lien px-2">
							Voir touts mes covoiturages
						</a>
					</div>
					{# SECTION CHAUFFEUR  #}
					{% if userCovoituragesDriver is empty %}
						<div class="text-center text-muted mb-4">
							Vous n'avez encore créé aucun covoiturage.
						</div>
					{% else %}
						{% for covoiturage in userCovoituragesDriver %}

							<div class="p-4 mb-3 carte-chauffeur">
								<div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

									<div>
										<strong>{{ covoiturage.placeDeparture }}</strong>
										→
										<strong>{{ covoiturage.placeArrival }}</strong><br>
										<small class="text-muted">
											{{ covoiturage.dateDeparture|date('d/m/Y') }}
											à
											{{ covoiturage.departureTime|date('H:i') }}
										</small>
									</div>

									<div class="text-center">
										<span class="fw-bold">{{ covoiturage.price }}
											crédits</span><br>
										<small class="text-muted">{{ covoiturage.placesNbr }}
											place(s)</small>
									</div>

									<div class="d-flex flex-column gap-2 align-items-end">

										{% if covoiturage.statut.value == 'PREVU' %}

											<form method="post" action="{{ path('app_covoiturage_start', { id: covoiturage.id }) }}" class="w-100">
												<input type="hidden" name="_token" value="{{ csrf_token('start_covoiturage' ~ covoiturage.id) }}">
												<button type="submit" class="btn btn-ecoride-reservation w-100">
													Commencer
												</button>
											</form>

											<form method="post" action="{{ path('app_covoiturage_cancel', {id:covoiturage.id}) }}" class="w-100">
												<input type="hidden" name="_token" value="{{ csrf_token('cancel_covoiturage' ~ covoiturage.id) }}">
												<button type="submit" class="btn btn-ecoride-annuler w-100">
													Annuler
												</button>
											</form>

										{% elseif covoiturage.statut.value == 'EN_COURS' %}

											<form method="post" action="{{path('app_covoiturage_finish', {id:covoiturage.id})}}" class="w-100">
												<input type="hidden" name="_token" value="{{ csrf_token('finish_covoiturage' ~ covoiturage.id) }}">
												<button type="submit" class="btn btn-ecoride-reservation w-100">
													Arriver à destination
												</button>
											</form>

										{% elseif covoiturage.statut.value == 'ANNULE' %}

											<span class="badge bg-success w-100">
												Annulé
											</span>

										{% elseif covoiturage.statut.value == 'TERMINE' %}

											<span class="badge bg-success w-100">
												Terminé
											</span>

										{% endif %}

									</div>

								</div>
							</div>

						{% endfor %}
					{% endif %}

					<hr
					class="my-4">

					{#  SECTION PASSAGER   #}
					<div class="d-flex justify-content-between">
						<h4 class="mb-4">Mes covoiturages (passager)</h4>
						<a href="{{ path('app_covoiturage') }}" class="lien px-2">
							Voir toutes covoiturages
						</a>
					</div>

					{% if passengerParticipations is empty %}
						<div class="text-center text-muted">
							Vous ne participez à aucun covoiturage pour le moment.
						</div>
					{% else %}
						{% for item in passengerParticipations %}
							{% set covoiturage = item.covoiturage %}
							{% set reservation = item.reservation %}

							<div class="p-4 mb-3 carte-chauffeur">
								<div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

									<div>
										<strong>{{ covoiturage.placeDeparture }}</strong>
										→
										<strong>{{ covoiturage.placeArrival }}</strong><br>
										<small class="text-muted">
											{{ covoiturage.dateDeparture|date('d/m/Y') }}
											à
											{{ covoiturage.departureTime|date('H:i') }}
										</small>
									</div>

									<div class="text-center">
										<span class="fw-bold">{{ covoiturage.price }}
											crédits</span><br>
										<small class="text-muted">{{ covoiturage.placesNbr }}
											place(s)</small>
									</div>

									<div class="text-end d-flex flex-column">
										{% if covoiturage.statut.value == 'PREVU' %}
											<span class="badge text-bg-success">Prévu</span>
										{% elseif covoiturage.statut.value == 'EN_COURS' %}
											<span class="badge text-bg-success">En cours</span>
										{% elseif covoiturage.statut.value == 'TERMINE' %}
											<span class="badge text-bg-success">Terminé</span>
										{% elseif covoiturage.statut.value == 'ANNULE' %}
											<span class="badge text-bg-success">Annulé</span>
										{% else %}
											<span class="badge text-bg-secondary">{{ covoiturage.statut.value }}</span>
										{% endif %}

										{% if covoiturage.statut.value == 'TERMINE' %}
											<a href="{{ path('app_notice_create', { id: reservation.id }) }}" class="btn btn-ecoride-reservation btn-outline-success mt-2">
												Valider / Avis
											</a>
										{% endif %}

										{#  bouton annuler si trajet à venir + réservation en attente #}
										{% if covoiturage.statut.value == 'PREVU' and reservation.status.value == 'EN_ATTENTE' %}
											<form method="post" action="{{ path('app_reservation_annuler', {id: reservation.id}) }}" class="mt-2 text-end">
												<input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
												<button class="btn-ecoride-reservation">
													Annuler
												</button>
											</form>
										{% endif %}
									</div>

								</div>
							</div>

						{% endfor %}
					{% endif %}


				</div>
			</div>

		</main>
	{% endblock %}
