{% extends 'base.html.twig' %}

{% block body %}
	<main class="flex-fill">

		<section class="hero-others-pages">
			<div class="hero-inner container">
				<h3 class="display-6 fw-bold mb-2 hero-slogan">Voyagez Ecoresponsable</h3>
				<p class="mb-3 hero-slogan">Partagez vos trajets, Economisez et protégez la planète</p>
			</div>
		</section>

		<div class="search-bar-wrapper">
			{% include 'search_bar.html.twig' %}
		</div>

		<div class="container my-5">

			<div class="text-center my-4">
				<h2 class="titre-page">Reservations</h2>
				<p>
					Bienvenue sur votre historique de reservation,
					<span class="eco fw-bold text-capitalize">{{ app.user.firstName }}</span>
					!
				</p>
			</div>

			<div class="col-md-12 col-lg-8 col-sm-12 mx-auto">
				<div class="card shadow-lg p-4">
					<h4 class="mb-4">Mes réservations</h4>

					{% if reservations is empty %}
						<div class="text-center text-muted">
							Vous n'avez encore aucune réservation.
						</div>
					{% else %}

						{% for reservation in reservations %}
							{% set covoiturage = reservation.idCovoiturage %}

							<div class="p-4 mb-3 carte-chauffeur">

								<div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

									<div>
										<strong>{{ covoiturage.placeDeparture }}</strong>
										→
										<strong>{{ covoiturage.placeArrival }}</strong>
										<br>
										<small class="text-muted">
											{{ covoiturage.dateDeparture|date('d/m/Y') }}
											à
											{{ covoiturage.departureTime|date('H:i') }}
										</small>
									</div>

									<div class="text-center">
										<span class="fw-bold">{{ covoiturage.price }}
											crédits</span>
									</div>

									<div>
										{% if covoiturage.dateDeparture == 'now' %}
											<span class="btn btn-ecoride">Commencer le covoiturage</span>
										{% elseif covoiturage.dateDeparture > "now"|date %}
											<span class="badge w-100 bg-success">À venir</span>
											<form method="post" action="{{ path('app_reservation_annuler', {id: reservation.id} ) }}" class="mt-2 text-end" onsubmit="return confirm('Confirmer l\'annulation ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
												<button class="btn-ecoride-reservation">
													Annuler
												</button>
											</form>
										{% else %}
											<span class="badge bg-secondary">Terminé</span>
										{% endif %}
									</div>

								</div>

							</div>

						{% endfor %}

					{% endif %}

				</div>

			</div>

		</div>
	</main>
{% endblock %}
