<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> {% block title %}{% endblock %}
		</head>
		<body class="d-flex flex-column min-vh-100">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					</div>
				{% endfor %}
			{% endfor %}

			<nav class="navbar bg-white border-bottom ecoride-nav">
				<div
					class="container d-flex align-items-center justify-content-between">

					<a class="navbar-brand fw-bold d-flex align-items-center gap-2 m-0" href="{{ path('app_home') }}">
						<div class="logo"></div>
						<h3 class="m-0">
							<span class="eco fw-bold">Eco</span><span class="ride">Ride</span>
						</h3>
					</a>

					<ul class="navbar-nav flex-row gap-3 d-none d-lg-flex">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_covoiturage_list') }}">Covoiturage</a>
						</li>
						<li class="nav-item">
							<p class="nav-link">A propos</p>
						</li>
						<li class="nav-item">
							<p class="nav-link">Contact</p>
						</li>
					</ul>

					<div class="d-flex align-items-center gap-2">
						{% if app.user %}

							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-sm px-3 btn-outline-success" href="{{ path('admin_dashboard') }}">
									Espace Admin
								</a>
							{% else %}
								<a class="btn btn-sm px-3 btn-outline-success" href="{{ path('app_account') }}">
									Mon espace
								</a>
							{% endif %}

							<a class="btn btn-sm px-3 btn-ecoride" href="{{ path('app_logout') }}">
								Déconnexion
							</a>

						{% else %}
							<a class="btn btn-sm px-3 connexion" href="{{ path('app_login') }}">
								Se connecter
							</a>
							<a class="btn btn-sm px-4 inscription" href="{{ path('inscription') }}">
								S'inscrire
							</a>
						{% endif %}
					</div>

				</div>
			</nav>

			{% block body %}{% endblock %}
			<footer class="footer-ecoride d-flex align-items-center">
				<div class="container text-center">
					<div class="small fw-semibold contact">Contact: contact@ecoride.fr</div>
					<div class="mt-1">
						<a class="small mentions-legales" href="#">Mentions légales</a>
					</div>
				</div>
			</footer>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
		</body>
	</html>
